{% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'SolarPV/wireframe1.css' %}">
</head>

  <div class="signup-background"></div>
  <div class="signup-overlay-content">
    <h1 class="main-heading">Signup Now</h1>
    <form class="signup-form" method="post" action="#" novalidate="novalidate">
      <label for="signup-Prefix">Prefix</label>
      <select id="signup-Prefix">
        <option value="mr">Mr</option>
        <option value="Mrs">Mrs</option>
        <option value="ms">Ms</option>
        <option value="dr">Dr</option>
      </select>
      <label for="signup-first-name">First Name</label>
      <input id="signup-first-name" type="text" name="Firstname" autocomplete="off" />
      <label for="signup-middle-name">Middle Name</label>
      <input id="signup-middle-name" type="text" name="Middlename" autocomplete="off" />
      <label for="signup-last-name">Last Name</label>
      <input id="signup-last-name" type="text" name="Lastname" autocomplete="off" />
      <label for="signup-job-title">Job title</label>
      <input id="signup-job-title" type="text" name="jobTitle" autocomplete="off" />
      <label for="signup-email">Email Address</label>
      <input id="signup-email" type="email" name="email" autocomplete="off" />
      <label for="signup-office-phone">Office Phone</label>
      <input id="signup-office-phone" type="text" name="officephone" autocomplete="off" />
      <label for="signup-cell-phone">Office phone</label>
      <input id="signup-cell-phone" type="text" name="cellphone" autocomplete="off" />
      <label for="signup-Staff">Staff</label>
      <select id="signup-Staff">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
      <label for="signup-password1">Password</label>
      <input id="signup-password1" type="password" name="password1" autocomplete="off" />
      <label for="signup-password2">Confirm Password</label>
      <input id="signup-password2" type="password" name="password2" autocomplete="off" />
    </form>
    <button>Submit</button>
</div>
